body{
	font-family: Roboto;
	font-size: 13px;
}
.main-box{
	height : 600px;
	width : 900px;
	margin : 0px auto;
	position:relative;
	background : url('../images/images.jpg');
	background-size : 100%;
}

.menu-box{
	background : url('../images/menu.png');
}

.text-box{
	width: 100%;
	
	text-align: center;
	position: relative;
}
.title-box{
	padding-top: 0%;
}

.button-box-wrp{
	position: absolute;
	bottom: 0px;
	
width: 100%;
	
}

.button-box{
	padding: 40px 110px;
	line-height: 50px;
}

.button-box ul{
	margin: 0px auto;
}

.button-box ul li{
	padding-right: 58px;
	list-style: none;
	float: left;
	margin: 0px auto;
}



.image-box{
	position: absolute;
	top: 85px;
	left: 180px; 
	text-align: center;
	height: 450px;
	width: 540px;
}

.text-span{
	line-height: 24px;
	font-size: 0px;
	color: white;
	font-weight: bold;
	font-family: Montserrat;
}

.title-text-span{
	line-height: 56px;
	font-size: 42px;
	color: white;
	font-weight: bold;
	font-family: Montserrat;
	position: absolute;
	left: -108px;
}

.right{
	left: 900px;
}

.spade-img{
	width: 462px;
	height: 497px;
	position: absolute;
	top: 68px;
	left: 139px; 
	display: block;
}

.menu-start{
	background: #171717;
}

.submenu-box{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 150px;
	left: 300px;
	background: url('../images/submenu.png') 0 0 no-repeat;
	background-size: 100% 100%;
}

.submenu-heading{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	color: white;
	padding-bottom: 30px;
	padding-top: 30px;
}

.submenu-items{
	font-family: Montserrat;
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 5px 0px;
	cursor: pointer;
}

.selected{
	color: black;
	background: white;
}

.small-box{
	position:absolute;

}

.card-holder{
	position:absolute;
}

.player-info{
	height: 30px;
	width: 110px;
	position: absolute;
	color: white;
}

.img{
	position : absolute;
	
}

.all-btn{
	height: 30px;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	padding: 0px 20px;
	background: url('../images/button.png') 0 0 no-repeat;
	background-size: 100% 100%;
	font-family: Montserrat;
	color: black;
	border: none;
	
}

.player-input{
	height: 100px;
	width: 200px;
	position: absolute;
	bottom: 0px;
	color: white;
	right: 0px;
	
}

.score{
	height: 320px;
	width: 550px;
	position: absolute;
	left: 480px;
	top: 50px;
	z-index: 1;
	background: url('../images/score.png') 0 0 no-repeat;
	background-size: 100%;
	 display: none;  
	text-align: center;
		padding: 2px 3px;
	
}

.next-button{
	height: 30px;
	display: block;
	cursor: pointer;
	position: absolute;
	margin-top: 20px;
	left: 30%;
	background: url('../images/button.png') 0 0 no-repeat;
	background-size: 100% 100%;
	font-family: Montserrat;
	font-size: 11px;
	color: #474141;
	border: none;	
}

.all-btn:hover, .next-button:hover{
	color: white;
	background: url('../images/button2.png') 0 0 no-repeat;
	background-size: 100% 100%;
}

.newgame-btn{
	left: 55%;
}

table {
	border-collapse: collapse; 
	font-family: Montserrat;

}

tr{
	text-align: center;
	border-bottom: 1px solid #d1d2cb;
	padding-left: 28px;
}
td{
	width: 110px;
	color: #634848;
	line-height: 30px;
	
}

.result{
	margin: 0px auto;
	width: 100px;
	height: 30px;
	margin-top: 10px;
	
}

.score-header{
	line-height: 30px;
	border: none;
	
}

.total-score{
	line-height: 30px;
	border: none;
	
}
.menu-btn{
	background: url('../images/normal-button.png') 0 0 no-repeat;
	background-size: 100% 100%;
	height: 40px;
	padding: 0px 20px;
}

.close-btn{
	left: 45%;
	background: url('../images/close-button.png') 0 0 no-repeat;
	background-size: 100% 100%;
}

.clear-fix:before, .clear-fix:after{
content: "";
display:table;}
.clear-fix:after{
clear:both;
}
.clear-fix{
zoom:1; /*IE6&7*/
}