body{
	font-family: Roboto;
	font-size: 13px;
}
.main-box{
	height : 600px;
	width : 900px;
	margin : 0px auto;
	position:relative;
	background : url('../images/images.jpg');
	background-size : 100%;
}

.small-box{
	position:absolute;

}

.card-holder{
	position:absolute;
}

.player-info{
	height: 30px;
	width: 110px;
	position: absolute;
	color: white;
}

.img{
	position : absolute;
	
}

.all-btn{
	height: 30px;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	background: url('../images/button.png') 0 0 no-repeat;
	background-size: 100% 100%;
	font-family: Montserrat;
	color: #474141;
	border: none;
}

.player-input{
	height: 100px;
	width: 200px;
	position: absolute;
	bottom: 0px;
	color: white;
	right: 0px;
	
}

.score{
	height: 320px;
	width: 550px;
	position: absolute;
	left: 400px;
	top: 50px;
	z-index: 1;
	background: url('../images/score.png') 0 0 no-repeat;
	background-size: 100%;
	 display: none;  
	text-align: center;
		padding: 2px 3px;
	
}

.next-button{
	height: 30px;
	display: block;
	cursor: pointer;
	position: absolute;
	margin-top: 20px;
	left: 30%;
	background: url('../images/button.png') 0 0 no-repeat;
	background-size: 100% 100%;
	font-family: Montserrat;
	font-size: 11px;
	color: #474141;
	border: none;	
}

.all-btn:hover, .next-button:hover{
	color: white;
	background: url('../images/button2.png') 0 0 no-repeat;
	background-size: 100% 100%;
}

.close-btn{
	left: 45%;
}

.newgame-btn{
	left: 55%;
}

table {
	border-collapse: collapse; 
	font-family: Montserrat;

}

tr{
	text-align: center;
	border-bottom: 1px solid #d1d2cb;
	padding-left: 28px;
}
td{
	width: 110px;
	color: #634848;
	line-height: 30px;
	
}

.result{
	margin: 0px auto;
	width: 100px;
	height: 30px;
	margin-top: 10px;
	
}

.score-header{
	
	
	line-height: 30px;
	border: none;
	
}

.total-score{

	
	line-height: 30px;
	border: none;
	
}